body {
    margin: 0;
    height: 100vh;
}

#main {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg.jpg");
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#bg > img {
    height: 100%;
}

#mask {
    position: absolute;
    width: 100%;
    height: 100%;
}

#animation-container {
    position: absolute;
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#animation-left {
    width: 300px;
    margin-top: 220px;
}

#animation-right {
    width: 200px;
    margin-top: 140px;
}

/* @keyframes floating-fire {
    from {
        transform: translateY(calc(50% - 197px));
    }
    to { 
        transform: translateY(calc(-50% - 197px));
    }
}

@keyframes floating-ice {
    from {
        transform: translateY(calc(50% - 147px));
    }
    to { 
        transform: translateY(calc(-50% - 147px));
    }
} */